BROADCAST_HOST=0.0.0.0
BROADCAST_PORT=8100
BROADCAST_OBS_HOST=host.docker.internal
BROADCAST_OBS_PORT=4455
BROADCAST_OBS_PASSWORD=
BROADCAST_TWITCH_STREAM_KEY=
BROADCAST_YOUTUBE_STREAM_KEY=
BROADCAST_FACEBOOK_STREAM_KEY=
